@font-face {
  font-family: "Pacifico";
  src: url("./fonts/pacifico/Pacifico.ttf") format("truetype");
}

@font-face {
  font-family: "Folks-Light";
  src: url("./fonts/folks/Folks-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Folks-Normal";
  src: url("./fonts/folks/Folks-Normal.ttf") format("truetype");
}
@font-face {
  font-family: "TrashHand";
  src: url("./fonts/trash_hand/TrashHand.TTF") format("truetype");
}


